<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661795958476-5utmn8dp1ivaqo1hqrqtabh9fllv5uiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661795958476-5utmn8dp1ivaqo1hqrqtabh9fllv5uiv</string>
	<key>API_KEY</key>
	<string>AIzaSyAvs275DQbnXLRzzBxK1rcJ3mlJ_EB-7XE</string>
	<key>GCM_SENDER_ID</key>
	<string>661795958476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekoasia</string>
	<key>PROJECT_ID</key>
	<string>ekoasia-6514e</string>
	<key>STORAGE_BUCKET</key>
	<string>ekoasia-6514e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661795958476:ios:2bf4c29c99456bb3c79c69</string>
	<key>DATABASE_URL</key>
	<string>https://ekoasia-6514e.firebaseio.com</string>
</dict>
</plist>